@import "tailwindcss";

:root {
  --background: #16027e;
  --background-secondary: #e8c252;
  --foreground: #e8c252;
  --foreground-secondary: #16027e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.title {
  font-family: var(--font-title);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3, h4, h5, h6 {
  font-family: var(--font-subtitle);
}

footer {
  font-size: 14px;
}